{{ $url := .URL }}
<div class="navbar">
{{ range .Site.Menus.main.ByWeight }}
    {{ if eq .Name "About"}}
        {{ if eq .URL $url }}
        <a class="active right" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
            <a class="right" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    {{ else }}
        {{ if eq .URL $url }}
            <a class="active" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    {{ end }}
{{ end }}
</div>
